
h1{ background-color: grey;
	text-align: center;
  padding: 40px;
}

.sidenav {
    height: 50%;
    width: 90%;
    position: absolute;
    top: 300px;
    left: 20px;
    bottom: 20px;
    background-color: none;
    padding-top: 30px;
    text-align:right;
}

.sidenav a {
    padding: 6px 6px 6px ;
    font-size: 20px;
    color: black;
    display: block;
    padding: 15px;
}

.main{
	background-color:grey;
	height: 100vh;
	margin-top: 85px;
  text-align: center;
}

#PongP{
	text-align: center;
  background: orange;
	margin-top: 20px;
}

#PongP2{
  background: white;
}

#about{
  text-decoration: underline;
}

.main2{
	height: 100vh;
	margin-left: 60px;
	margin-top: 80px;
  background-image: url("../img/ping-pong.jpg");
}

h2{
  text-align: center;
  color: white;
}

p{
  text-align: center;
}

body{
	background-image: url("../img/pingocean.jpg");
	background-size: cover;
